@import "../keyframes/keyframes.css";

@mixin body() {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    overflow: y-scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    @media (max-width:770px){
        scroll-snap-type: none;
    }
}

@mixin header() {
    position: fixed;
    display: flex; 
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba($color: $color3, $alpha: 0.7);
    z-index: 10; // para evitar que cualquier elemento lo pise
    @media (min-width:770px){
    background-color: rgba($color: $color3, $alpha: 0.7);
    }
    h1 {
        font-size: 40px;
        color: $text_color;
        i {
            font-size: 1.3rem;
            color: $text_color;
        }
    }
    .menu {
        display: flex;
        gap: 5vw;
        display: none;
        @media (min-width:769px){
            display: flex;
        }
        a {
            font-weight: 600;
            color: $text_color;
            position: relative;
            &::before {
                width: 0%;
                content: '';
                background-color: $color1;
                height: 4px;
                position: absolute;
                bottom: -2px;
                left: 0px;
                border-radius: 2px;
                transition: all 0.2s;
            }
            &:hover::before {
                width: 100%;
            }
        }
        
    }
    .menu_hb {
        display: none;
        transition: all 0.2s;
        i {
            font-size: 30px;
            color: $text_color;
        }
        @media (max-width:768px){
            display: block;
        }
    }
}

@mixin menuhb (){ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 100vh;
    background-color: $color2;
    position: fixed;
    right: 0;
    z-index: 23;
    padding: 30px;
    animation-name: show_menu;
    animation-duration: 500ms;
    display: none;
    #close_menu {
        position: absolute;
        top: 23px;
        right: 30px;
        font-size: 30px;
        color: $background2;
    }
    .menu_element {
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-bottom: 2px solid $background2;
        padding-bottom: 30px;
        a {
            color: $text_color2;
        }
    }
}

@mixin navigation_dots() {
        position: fixed;
        right: 15px;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        animation-name: show_nav;
        animation-duration: 500ms;
        animation-direction: alternate;
        animation-iteration-count: 2;
        animation-delay: 1s;
        display: none;
        @media (min-width:768px){
            right: 50px;
            bottom: 60px;
            display: flex;
        }
        a {
            display: flex;
            justify-content: flex-end;
        }
        .dot {
            @include dot_nav(10px,10px);
        }
        .dotF {
            @include dot_nav(13px,13px);
            position:relative; 
            right:-2px;
        }
}

@mixin dot_nav ($width, $height) {
    width: $width;
    height: $height;
    background-color: black;
    transition: all 200ms ease-out;
    
    color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid $text_color4;
    &:hover {
        width: 100%;
        height: 30px;
        transform: rotate(0deg);
        color: white;
        padding: 10px;
        }
}

@mixin container() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $background2;
    height: 100vh;
    @media (min-width:770px){
        flex-direction: row;
    }
    scroll-snap-align: start;
}

@mixin subtitle($color) {
    font-size:35px;
    font-weight: bold;
    color: $color;
    transition: all 0.4s;
    @media (min-width:770px){
        font-size: 50px;
    }
    @media (min-width:1025px){
        font-size: 65px;
    }
}

@mixin paragraph ($pcolor) {
    color: $pcolor;
    font-size:18px;
    @media (min-width:770px){
        font-size: 18px;
    }
    @media (min-width:1025px){
        font-size: 22px;
    }
    
}

@mixin content($color) { 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 85%;
    background-color: $color;
    @media (min-width:770px){
        width: 40%;
    }
}

@mixin button_style($color, $background_b) {
    background-color:$background_b;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    border: 2px solid $color;
    color: $color;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    i {
        color: $color;
    }
    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: white;
    }
    &::before {
        content: " ";
        color: transparent;
        width: 0px;
        height: 50px;
        background-color: $color;
        position: absolute;
        left: 0px;
        transition: all 250ms;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        
    }
    &:hover::before {
        width: 198px;
        color: white;
    }
}

@mixin form_style(){
    border:none;
    border-radius: 3px;
    height: 100%;
    padding: 7px;
    @media (min-width:770px){
        padding: 20px;
    }
}

@mixin footer () {
    @include container;
    background-color:$color2;
    .link_area {
        @include content(transparent);
        align-items: center;
        border-bottom: 2px solid $background2;
        gap: 60px;
        h2 {
            @include subtitle($background2);
        }
        .message_me, .my_links ul {
            display:flex;
            gap: 20px;
            a {
                color: white;
                transition: all 0.3s;
                &:hover {
                    color: $background2;
                }
            }
        }
        @media (min-width:770px){
            width: 90%;
        }
    }
    .rights {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        h5 {
            color: $text_color2;
            text-align: center;
            position: relative;
            top: 2vh;
            font-weight: 500;
        }  
        @media (min-width:770px){
            flex-direction: row;
            
        }
    }
    @media (min-width:770px){
        flex-direction: column;
        gap: 40px;
    }
}


@mixin cards () {
    background-color: $background3;
    padding: 0 0 5px 0;
    border-radius: 4px;
    transition: all 150ms;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    flex: 30%;
    animation-name: show_menu;
    animation-duration: 1s;
    @media (min-width:770px) {
        align-self: start;
    }
    &:hover {
        transform:translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}