@mixin container() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $background2;
    height: 100vh;
    gap: 50px;
}

@mixin subtitle($color) {
    font-size:45px;
    font-weight: bold;
    color: $color;
    text-align: center;
    transition: all 0.4s;
    @media (min-width:768px){
        font-size: 65px;
    }
}

@mixin paragraph ($pcolor) {
    color: $pcolor;
    font-size:20px;
    text-align:center;
    transition: all 0.4s;
    @media (min-width:768px){
        font-size: 30px;
    }
}

@mixin content($color) { 
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 75%;
    background-color: $color;
    @media (min-width:550px){
        width: 450px;
    }
}