$color1:#01213f;
//$primary_color:#b57582;
$color2:#e7baa3;
$color3:#fcc92e;
//$secondary_color:#71839e;
$background:#faf6ef;
//$background:#cbc0cb;
//$background2:#55394c;
$background2:#74c7a7;
$background3:#e4ded1;
$text_color: black;
$text_color2: white;
$text_color3: #735728;
$text_color4: #af2a59;
