$primary_color:#018D9C;
//$primary_color:#b57582;
$secondary_color:#2E4040;
//$secondary_color:#71839e;
$background:#8D927E;
//$background:#cbc0cb;
//$background2:#55394c;
$background2:#77775F;
$button_color:#5f4d5d;
$text_color: black;
$text_color2: white;
$text_color3: pink;
$border: #f3f3f3;

