$color1:#291733;
//$primary_color:#b57582;
$color2:#192F3C;
$color3:#B5D1AC;
//$secondary_color:#71839e;
$background:#F9F9F9; 
//$background:#cbc0cb;
//$background2:#55394c;
$background2:#EAF205;
$background3:white;
$text_color: black;
$text_color2: white;
$text_color3: #735728;
$text_color4: #788a68;
