@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Inter:wght@100;200;300;400&family=Noto+Sans:wght@500;700&family=Roboto:wght@100;300;400;500;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  overflow: y-scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  color: black;
}
@media (max-width: 550px) {
  * {
    scroll-snap-type: none;
  }
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgba(228, 222, 209, 0.8);
  z-index: 10;
}
@media (min-width: 770px) {
  header {
    background-color: rgba(228, 222, 209, 0.8);
  }
}
header h1 {
  font-size: 30px;
  color: black;
}
header h1 i {
  font-size: 1.3rem;
  color: black;
}
header .menu {
  display: flex;
  gap: 5vw;
  display: none;
}
@media (min-width: 769px) {
  header .menu {
    display: flex;
  }
}
header .menu a {
  font-weight: 600;
  color: black;
}
header .menu_hb {
  display: none;
  transition: all 0.2s;
}
header .menu_hb i {
  font-size: 30px;
  color: black;
}
@media (max-width: 768px) {
  header .menu_hb {
    display: block;
  }
}

.menu_expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  width: 100%;
  height: 100vh;
  background-color: #01213f;
  position: fixed;
  right: 0;
  z-index: 23;
  padding: 30px;
  animation-name: show_menu;
  animation-duration: 500ms;
  display: none;
}
.menu_expanded #close_menu {
  position: absolute;
  top: 23px;
  right: 30px;
  font-size: 30px;
}
.menu_expanded .menu_element {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 2px solid white;
  padding-bottom: 30px;
}

.navigation {
  position: fixed;
  right: 15px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  animation-name: show_nav;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-delay: 1s;
  display: none;
}
@media (min-width: 768px) {
  .navigation {
    right: 50px;
    bottom: 60px;
    display: flex;
  }
}
.navigation a {
  display: flex;
  justify-content: flex-end;
}
.navigation .dot {
  width: 10px;
  height: 10px;
  background-color: black;
  transition: all 200ms ease-out;
  transform: rotate(45deg);
  color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}
.navigation .dot:hover {
  width: 100%;
  height: 30px;
  transform: rotate(0deg);
  color: white;
  padding: 10px;
}
.navigation .dotF {
  width: 13px;
  height: 13px;
  background-color: black;
  transition: all 200ms ease-out;
  transform: rotate(45deg);
  color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  position: relative;
  right: -2px;
}
.navigation .dotF:hover {
  width: 100%;
  height: 30px;
  transform: rotate(0deg);
  color: white;
  padding: 10px;
}
.navigation .dotF {
  width: 13px;
  height: 13px;
  background-color: black;
  transition: all 200ms ease-out;
  transform: rotate(45deg);
  color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}
.navigation .dotF:hover {
  width: 100%;
  height: 30px;
  transform: rotate(0deg);
  color: white;
  padding: 10px;
}

.personal_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #74c7a7;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-align: none;
  height: 100%;
  padding: 150px 20px 100px 20px;
  gap: 30px;
  background-color: #faf6ef;
}
@media (min-width: 770px) {
  .personal_cards {
    flex-direction: row;
  }
}
@media (min-width: 770px) {
  .personal_cards {
    padding: 150px 200px 100px 200px;
  }
}
.personal_cards .card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 85%;
  background-color: #e4ded1;
  align-items: center;
  padding: 0 0 5px 0;
  border-radius: 4px;
  transition: all 150ms;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  flex: 30%;
  justify-content: flex-start;
}
@media (min-width: 770px) {
  .personal_cards .card {
    width: 40%;
  }
}
.personal_cards .card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.personal_cards .card img {
  width: 100%;
}
.personal_cards .card p {
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #74c7a7;
  height: 100vh;
  scroll-snap-align: start;
  background-color: #01213f;
  scroll-snap-align: none;
  height: 60vh;
}
@media (min-width: 770px) {
  footer {
    flex-direction: row;
  }
}
footer .link_area {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 85%;
  background-color: transparent;
  align-items: center;
  border-bottom: 2px solid #74c7a7;
  gap: 60px;
}
@media (min-width: 770px) {
  footer .link_area {
    width: 40%;
  }
}
footer .link_area h2 {
  font-size: 35px;
  font-weight: bold;
  color: #e7baa3;
  transition: all 0.4s;
}
@media (min-width: 770px) {
  footer .link_area h2 {
    font-size: 50px;
  }
}
@media (min-width: 1025px) {
  footer .link_area h2 {
    font-size: 65px;
  }
}
footer .link_area .message_me, footer .link_area .my_links ul {
  display: flex;
  gap: 20px;
}
footer .link_area .message_me a, footer .link_area .my_links ul a {
  color: white;
}
@media (min-width: 770px) {
  footer .link_area {
    width: 90%;
  }
}
footer .rights {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
footer .rights h5 {
  color: white;
  text-align: center;
  position: relative;
  top: 2vh;
  font-weight: 500;
}
@media (min-width: 770px) {
  footer .rights {
    flex-direction: row;
  }
}
@media (min-width: 770px) {
  footer {
    flex-direction: column;
    gap: 40px;
  }
}/*# sourceMappingURL=styles_about.css.map */