@import "../var/var";
@import "../mixin/mixin";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Inter:wght@100;200;300;400&family=Noto+Sans:wght@500;700&family=Roboto:wght@100;300;400;500;900&display=swap');

* {
    @include body();
}

header {
    @include header();
    
}

.menu_expanded {
    @include menuhb();  
}

main {
    .navigation {
        gap: 20px;
        @include navigation_dots();
    }
    #page-1 {
        
        @media (min-width:768px){
            display: flex;
            height: 80vh;
        }
        .block1 {
            @include container;
            background-color:$color1;
            height: 60%;
            padding: 80px 0 30px 0;
            .description {
                @include content(transparent);
                h2 {
                    @include subtitle($background2);
                    font-size: 55px;
                    @media (min-width:770px){
                        font-size: 65px;
                    }
                    @media (min-width:1025px){
                        font-size: 90px;
                    }
                }
                h3 {
                    @include paragraph($text_color2);
                }
                @media (min-width:770px){
                    width: 70%;
                }
            }
            // .sub_p {
            //     display: flex;
            //     flex-direction: column;
            //     flex-wrap: wrap;
            //     align-items: center;
            //     justify-content: center;
            //     gap: 20px;
            //     padding: 20px;
            //     p {
            //         color: $background2;
            //         font-weight: bolder;
            //         font-size: 15px;
            //         @media (min-width:768px){
            //             font-size: 20px;
            //         }
            //     }
            // }
            @media (min-width:768px){
                height: 100%;
                width: 65%;
                flex-wrap: nowrap;
            }
        }
        .block2 {
            scroll-snap-align: start;
            background-color: $background2;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width:768px){
                height: 100%;
                width: 35%;
            }
            img {
                width: 60%;
                padding: 10px;
                margin: 60px;
                transition: all 0.4s;
                border-bottom: 2px solid $color1;
                border-right: 2px solid $color1;
                @media (min-width:768px){
                    width: 65%;
                }
            }
        }
    }
    #page-2 {
        @include container();
        background-color: $background;
        gap: 30px;
        @media (min-width:770px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            align-items: center;
            padding: 0 30px;
            div:first-child {
                grid-column: 1/2;
                grid-row: 2/3;
                align-self: self-start;
            }
            div:last-child {
                grid-column: 2/3;
                grid-row: 1/2;
                align-self: self-end;
            }
        }
        div {
            @include content(transparent);
            @media (min-width:770px){
                width: 100%;
            }
             h2 {
                @include subtitle($color1);
              }
              p {
                @include paragraph($color1);
              }
        }
    }
    #page-3 {
        @include container;
        background-color: $background2;
        height: 100%;
        .aboutme {
            @include content(transparent);
            padding-top: 100px;
            h2 {
                @include subtitle($color1);
                
            }
            p {
                @include paragraph($text_color);
                font-size: 15px;
            }
            
        }
        .about_img {
            width: 85%;
            margin-bottom: 40px;
            border-radius: 2px;
            img {
                width: 100%;
            }
            @media (min-width:776px){
                width: 40%;
                max-width: 700px;
                
            }
        }
        @media (min-width:770px){
            height: 100vh;
            
        }

    }
    #page-4 {
        @include container;
        gap: 0px;
        background-color: $background;
        div {
            @include content($background3);
            height: 38%;
            gap: 1rem;
            &:not(:last-of-type){
                border-bottom: 2px solid $color1;
            }
            h2 {
                @include subtitle($color1);
                text-align: left;
            }
            p {
                @include paragraph($text_color);
            }
            button {
                z-index: 0;
                @include button_style($color2);
            }
            @media (min-width:770px){
                height: 70%;
                gap: 3rem;
                padding: 0 80px;
                &:not(:last-of-type){
                    border-right: 2px solid $color1;
                    border-bottom: none;
                }
            }
        }
    }
    #page-5 {
        @include container;
        .contact {
            @include content(transparent);
            align-items: center;
            justify-content: center;
            gap: 45px;
            h2 {
                @include subtitle($color1);
            }
            p {
                @include paragraph($color1);
                font-weight: 600;
                font-size: 20px;
            }
            form {
                width: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 60px 60px 120px 60px;
                grid-gap: 15px;
                justify-items: center;
                @media (min-width:770px){
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 80px 160px 0px 80px;
                    gap: 30px;
                    width: 60vw;
                }
                .name_form {
                    display: flex;
                    flex-direction: column;
                    grid-column: 1/3;
                    grid-row: 1/2;
                    width: 100%;
                    label {
                        @include paragraph($color1);
                        font-weight: 600;
                    }
                    input {
                        @include form_style();
                    }
                    @media (min-width:770px){
                        grid-column: 1/2;
                        grid-row: 1/2;
                    }

                }
                .email_form {
                    display: flex;
                    flex-direction: column;
                    grid-column: 1/3;
                    grid-row: 2/3; 
                    width: 100%;
                    label {
                        @include paragraph($color1);
                        font-weight: 600;
                    }
                    input {
                        @include form_style();
                    }
                    @media (min-width:770px){
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }
                }
                .textarea_form {
                    display: flex;
                    flex-direction: column;
                    grid-column: 1/3;
                    grid-row: 3/4;
                    width: 100%;
                    margin-bottom: 30px;
                    label {
                        @include paragraph($color1);
                        font-weight: 600;
                    }
                    textarea {
                        @include form_style();
                    }
                    @media (min-width:770px){
                        grid-column: 1/3;
                        grid-row: 2/3;
                    }
                }
                .send {
                    grid-column: 1/3;
                    grid-row: 4/5;
                    @include button_style($color1);
                    z-index: 0;
                    @media (min-width:770px){
                        grid-column: 1/2;
                        grid-row: 3/4;
                    }
                }
                .reset {
                    grid-column: 1/3;
                    grid-row: 5/6;
                    @include button_style($color1);
                    z-index: 0;
                    @media (min-width:770px){
                        grid-column: 2/3;
                        grid-row: 3/4;
                    }
                }
            }
        }
    }
}

footer {
    @include footer();
}

@keyframes show_nav {
    0% {transform: translateY(0);}
    100% {transform: translateY(-16px);}
}

@keyframes show_menu {
    0% {opacity: 0;}
    100% {opacity:1;}
}




